.image {
  background-image: url(https://th.bing.com/th/id/OIP.CjHZeDIZTel-jKbB4iMlSwHaEK?rs=1&pid=ImgDetMain);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px ;
  padding: 0px;
}
